<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.edmt.petaniaplikasi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@drawable/anakbawang"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".petani_login"
            android:label="Petani"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".petani_verifikasi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".m_verifikasi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".a_verifikasi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".v_verifikasi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".petani_tarikuang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".petani_signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_slot"
            android:screenOrientation="portrait" />
        <activity
            android:name=".petani_pageone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Petani_MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".petani_pagetwo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile_nav"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tentang"
            android:screenOrientation="portrait" />
    </application>

</manifest>